*{
    margin: 0;
    padding: 0;
}

#top-holder{
    position: sticky;
    z-index: 10;
    background: #fff;
    margin-bottom: 20px;
    padding-top: 10px;
    top: 0;
}
.checked{
    text-decoration: line-through;
}
